body{
  background-color: #F7DC6F; 
  text-align: center;
  color:#212F3C;
  font-family: Helvetica;

  
   
 
  div.image {  position: right;
  right: 0px;
  width: 300px;
    padding: 10px;} 
  
  
  div.navigation {  position: left;
    
    
    
    
    
  }
  

div.main { font-family: san-serif;
  color:#AED6F1;
  text-align: center;
}
ul: text-align:center;
  list-style-position: inside;
  
  

 
  
  
  
  
  }
