body{
  background-color: #F7DC6F; 
  
  
h1{ font-family:Rockwell,Garamond, Helvetica;
color: #AED6F1;
font-size: 2.5em;
  text-align: center;}

p { font-family: san-serif;
  color:#AED6F1;
  }
  
  
  
  
  
  
  
  }
